body{
    background: url(./docs/960x0.webp   );
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.vid{
    display: flex;
    height: 100%;
    width: 100%;
}
.vid video{
    margin: 5% auto;
    height: 500px;
    width: 500px;
    opacity: 0.2;
}